@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer{
  display: flex;
  justify-content: space-between; 
}

.header ul, .footer ul{
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 10px;
  list-style-type: none;
  
}

.header ul a, .footer ul a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  text-decoration: none;
}

.footer{
  background-color: rgb(213, 213, 213);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}