div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: aqua;
    background-color: azure;
}

html{
    background-color: rgb(111, 238, 179);
}

